<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SqlUnitTesting" type="Microsoft.Data.Tools.Schema.Sql.UnitTesting.Configuration.SqlUnitTestingSection, Microsoft.Data.Tools.Schema.Sql.UnitTesting, Version=15.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="DatabaseUnitTesting" type="Data.Tools.UnitTesting.Configuration.DatabaseUnitTestingSection, Data.Tools.UnitTesting"/>
  </configSections>
  <connectionStrings>
    <add name="test" connectionString="Data Source=.\SQLExpress;Initial Catalog=ExampleDb.SSDTA;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"/>
  </connectionStrings>


  <DatabaseUnitTesting>
    <Connections>
      <Connection name="ExampleDb-Test" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLExpress;Initial Catalog=ExampleDb.SSDTA;Integrated Security=True;Persist Security Info=False;Pooling=False;Connect Timeout=60">
        <DatabaseDeployment type="Data.Tools.UnitTesting.Sql.SSDTProjectDeployer, Data.Tools.UnitTesting.Sql" dropDatabaseOnExit="true" createUniqueDatabaseName="true" >
          <DeployerConfig databaseProjectFileName="..\..\..\ExampleDb.SSDT\ExampleDb.SSDT.sqlproj" buildConfiguration="Release"/>
        </DatabaseDeployment>
      </Connection>
    </Connections>
  </DatabaseUnitTesting>
  
  
  <SqlUnitTesting>


    <DatabaseDeployment DatabaseProjectFileName="..\..\..\ExampleDb.SSDT\ExampleDb.SSDT.sqlproj"
          Configuration="Release" />
    <DataGeneration ClearDatabase="true" />
    <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Data Source=.\SQLExpress;Initial Catalog=ExampleDb.SSDTA;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"
        CommandTimeout="30" />
    <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Data Source=.\SQLExpress;Initial Catalog=ExampleDb.SSDTA;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"
        CommandTimeout="30" />
  </SqlUnitTesting>
</configuration>