<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SqlConfiguration" type="Data.Tools.UnitTesting.Sql.Configuration.SqlConfigurationSection, Data.Tools.UnitTesting.Sql"/>
  </configSections>

  <!--<DatabaseUnitTesting>
    <DatabaseDepoyment databaseProjectFileName="projectfile" buildConfiguration="Release" connection="test" />
    <Connections>
      <Connection name="test" providerName="p1" connectionString="hallo"/>
      <Connection name="test2" providerName="p2" connectionString="hallo2"/>
    </Connections>
  </DatabaseUnitTesting>-->
    
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>